<div class="comments">
  {{#each this}}
  <section class="comment border border-dark rounded-3 ms-4 w-25 mt-3">
    <div class="meta p-2">
      {{user.username}} says:
      <br/>
      {{format_date created_at}}
    </div>
    
    <div class="text font-weight-bold h-100 p-2">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>