<form class="signup-form text-center my-5">
    <h1>
        Sign up!
    </h1>
    <div>
        <div class="my-4">
            <label for="username-signup">Username:</label>
            <br>
            <input type="text" class="w-25 rounded-3" id="username-signup" />
        </div>

        <div class="my-4">
            <label for="password-signup">Password:</label>
            <br>
            <input type="password" class="w-25 rounded-3" id="password-signup" />
        </div>
        <div class="my-4">
            <button class="signup-btn p-2 rounded-3 mt-1 w-25" type="submit">Create Account</button>
        </div>
    </div>
</form>

<script src="/javascript/signup.js"></script>