:root {
    --primary-color: #eee7e1;
    --secondary-color: #1a1919;
    --tertiary-color:  #e2c2b3;
    --heading-font: 'Abril Fatface', Verdana, Geneva, Tahoma, sans-serif;
    --text-font: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    background-color: var(--primary-color);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: var(--text-font);
}

header {
    padding: 10px 0 10px 30px;
    color: var(--secondary-color);
}

header, header nav, header h1 {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

nav a {
    text-decoration: none;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    padding-right: 15px;
}

.main-title {
    padding: 10px;
    background-color: var(--primary-color);
    display: inline-flex;
}

.main-title a {
    font-family: var(--heading-font);
    text-decoration: none;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

li {
    list-style: none;
}

.signup-form, .login-form {
    padding: 10px 0 10px 30px;
}


.comments .meta{
    background-color: var(--tertiary-color);
}

.buttons, .new-post-btn, .edit-post-btn, .add-comment-btn, .login-btn, .signup-btn {
    background-color: var(--tertiary-color);
}

.edit-btns {
    width: 15%;
}

.new-post {
    position: fixed;
    bottom: 20px;
    width: 25%;
    margin: 0 auto;
    left: 50%;
}

.edit-input {
    line-height: 10px;
}